gff3_sequences
gff3_head
Tilapia_header_GCF_001858045.2.fa
Tilapia_GCF_001858045.2_annotation.gff3
Tilapia_GCF_001858045.2_annotation.gtf
chrLength.txt
chrName.txt
chrNameLength.txt
chrStar.txt
exonGeTrInfo.tab
exonInfo.tab
geneInfo.tab
Genome
genomeParameters.txt
Log.out
SA 
SAindex
sjdbInfo.txt
sjdbList.fromGTF.out.tab
sjdbList.out.tab
transcriptInfo.tab
Tilapia_NC_031967.2_GCF_001858045.2.dict