token
Figure 1 Pipeline white background.png
*.bam
*.tab
*.out
trimmed/
trimmed/*
stats/
stats/*
split/
split/*
pseudogenomes/
pseudogenomes/*.*
marked_dedup/
marked_dedup/*.*
logs/
logs/*
KS4*/
GS4*/
KF6*/
GF6*/
annotated/
gene_counts/
gene_counts/*.*
fixed-rg/
calls/
calls/*
fastq_merged/
fastq_merged/*.*
.snakemake
.snakemake/
*.log
genome/*
